
.cardProduct{
    /* border: 1px solid; */
    /* border-radius: 3px; */
    margin: 5px;
    padding: px;
    box-shadow: 0 0 6px 2px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
  
}
img{
    width: 150px;
    padding: 10px;
}

.cardProduct button {
    
    font-size: 1.3rem;
    background-color:white;
    color: #7c5ccc; 
   
border-radius: 5px;
text-transform:capitalize;
border-color: #7c5ccc;
}
button:hover{
   border-color:  red;
   color: red;
}
.Products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 2rem; 
   
}
.noProducts{
    color: #7c5ccc;
    font-size: 50px;

}
.ProductCard{display: flex;}